@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    font-family: "Roboto";
    background-color: azure;
}

#todo {
    margin: 100px;
    border: 1px solid grey;
    border-radius: 2px;
    width: 250px;
    padding: 50px 50px;
}

.list:hover  {
    color: rgb(210, 80, 210);
}
  
