@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    font-family: "Roboto";
    background-color: azure;
    margin: 5px;
}

#mainheading {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

#todo {
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 2px;
    width: 250px;
    padding: 50px 50px;
}

.todo-item:hover  {
    color: rgb(210, 80, 210);
}

#menu {
    font-size: 20px;;
}

#listchunk {
    margin-left: 40px;
}

#inputbox {
    margin-left: 40px;
    padding: 5px;
}

#listheading {
    font-style: italic;
    text-align: center;
}
  
img {
    padding-left: 550px;
    width: 75px;
    height: auto;
}
